extends ../shared/template

block content
  h1 Priority List

  form(method='POST', action='/priorities')
    input(type='text', name='name', placeholder='Name', autofocus=true)
    input.button-primary(type='color', name='color', placeholder='Color')
    button.button-primary Add

  table
    thead
      tr
        th Name
        th Color
        th Delete
    tbody
      each priority in priorities
        tr(style='background-color: #{priority.color}')
          td= priority.name
          td= priority.color
          td
            form(method='POST', action='/priorities/#{priority._id}')
              input(type='hidden', name='_method', value='DELETE')
              button.button.glow.button-caution X
